{% extends 'master.html' %}
{% load static %}
{% block content %}

   <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Grocery</h2>
          <p>"Step into our bustling grocery section, where convenience meets quality. Explore aisles
              stocked with pantry staples, gourmet delights, and fresh produce. From artisanal
              ingredients to household essentials, find everything to craft your culinary dreams. Let us
              elevate your shopping experience with variety, value, and exceptional service."</p>
        </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/VEGETABLES.jpg' %}" class="img-fluid" alt="" style="height:30vh;width:100%">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <a href="/make_an_order/1" class="stretched-link">
                  <h3>Nesciunt Mete</h3>
                </a>
                <p>"Discover freshness in every bite at our vibrant fruit section. Handpicked from local orchards, our selection boasts ripe and juicy delights. From exotic treasures to everyday favorites, savor nature's goodness with every taste."</p>


              </div>


            </div>

          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/FRUITS.jpg' %}" class="img-fluid" alt="" style="height:30vh;width:100%">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-broadcast"></i>
                </div>
                <a href="/make_an_order/1" class="stretched-link">
                  <h3>Eosle Commodi</h3>
                </a>
                <p>"Explore a garden of green goodness in our vegetable section. From crisp greens to vibrant roots, our produce is fresh and bursting with flavor. Elevate your meals with the finest selection of seasonal vegetables today!"</p>

              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/MEAT.jpg' %}" class="img-fluid" alt="" style="height:30vh;width:100%">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-easel"></i>
                </div>
                <a href="/make_an_order/1" class="stretched-link">
                  <h3>Butchery</h3>
                </a>
                <p>"Explore our premier butcher section, offering premium cuts sourced from trusted suppliers.
                    From succulent steaks to tender roasts, find top-quality meats to elevate your culinary experience. Indulge in the finest flavors today!"</p>

              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/VEGETABLES.jpg' %}" class="img-fluid" alt="" style="height:30vh;width:100%">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-bounding-box-circles"></i>
                </div>
                <a href="/make_an_order/1" class="stretched-link">
                  <h3>Asperiores Commodit</h3>
                </a>
                <p>"Explore our premier butcher section, offering premium cuts sourced from trusted suppliers. From succulent steaks to tender roasts, find top-quality meats to elevate your culinary experience. Indulge in the finest flavors today!"</p>


              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/FRUITS.jpg' %}" class="img-fluid" alt="" style="height:30vh;width:100%">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-calendar4-week"></i>
                </div>
                <a href="/make_an_order/1" class="stretched-link">
                  <h3>Velit Doloremque</h3>
                </a>
                <p>"Explore a garden of green goodness in our vegetable section. From crisp greens to vibrant roots, our produce is fresh and bursting with flavor. Elevate your meals with the finest selection of seasonal vegetables today!"</p>


              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/MEAT.jpg' %}" class="img-fluid" alt="" style="height:30vh;width:100%">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-chat-square-text"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Dolori Architecto</h3>
                </a>
                <p>"Discover freshness in every bite at our vibrant fruit section. Handpicked from local orchards, our selection boasts ripe and juicy delights. From exotic treasures to everyday favorites, savor nature's goodness with every taste."</p>

                <a href="/make_an_order/1" class="stretched-link">
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->


{% endblock %}